.nj-burger {
  --burger-x: 9px;
  --burger-size: 50px;
  --burger-thickness: 3px;
}

/* default */
.nj-burger > button {
  height: var(--burger-size);
  width: var(--burger-size);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  > span {
    position: absolute;
    top: 50%;
    right: var(--burger-x);
    left: var(--burger-x);
    height: var(--burger-thickness);
    width: auto;
    margin-top: -1px;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
      opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
      background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  /* &.active > span {
    background-color: var(--burger-color-light);
  }
  &.dark > span {
    background-color: var(--burger-color-light);
  } */
  .nj-burger-bar--1 {
    transform: translateY(calc(-1 * var(--burger-x)));
  }
  .nj-burger-bar--2 {
    transform-origin: 100% 50%;
  }
  .nj-burger-bar--3 {
    transform: translateY(var(--burger-x));
  }
}
/* hover */
.nj-burger > button:hover {
  .nj-burger-bar--2 {
    transform: scaleX(1);
  }
}
/* active */
.nj-burger.active {
  .nj-burger-button {
    transform: rotate(-180deg);
  }
  .nj-burger-bar--1 {
    transform: rotate(45deg);
  }
  .nj-burger-bar--2 {
    opacity: 0;
  }
  .nj-burger-bar--3 {
    transform: rotate(-45deg);
  }
}
