.nj-video-background {
  background: none;
  position: relative;
  width: 100%;
  overflow: hidden;
  .videobg-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .video-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: linear-gradient(
      to left top,
      #3a7294,
      #306687,
      #26597a,
      #1c4e6d,
      #114260,
      #0b3b59,
      #053552,
      #002e4b,
      #002a47,
      #002743,
      #00233f,
      #00203b
    );
    opacity: 0.78;
  }
  .video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    video {
      visibility: visible;
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
    }
  }
  .video-buffering {
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}